@using ServerSentEventsTest;

@{
    ViewBag.Title = "SSE Testpage";
}

<h2>Testpage for Server-Sent Events using ASP.NET MVC</h2>

<p>The following list is updated from @{string relPath = Url.HttpRouteUrl("DefaultApi", new { controller = "SSE" });
                                        string absPath = Url.ToPublicUrl(relPath);
                                        @absPath }.</p>
@*        string storeLink = Url.HttpRouteUrl("DefaultApi", new { controller = "Store", id = store.Id });
          store.Url = new Uri(Request.Url, storeLink).AbsoluteUri.ToString();*@

<ul id="messagesList">
    
</ul>   

@section scripts {
<script type="text/javascript">
    $(function () {

        if (!!window.EventSource) {
            var source = new EventSource('api/SSE');
            source.addEventListener('message', function (e) {
                console.log(e.data);
                $('#messagesList').append($('<li>').append(e.data).append('</li>'));
                

                if($('#messagesList > li').length > 10)
                    $('#messagesList li:first').remove();

            }, false);

            source.addEventListener('open', function (e) {
                console.log("open!");
            }, false);

            source.addEventListener('error', function (e) {
                if (e.readyState == EventSource.CLOSED) {
                    console.log("error!");
                }
            }, false);

        } else {
            // not supported!               
        }
        
        
    });

</script>
}